html {
	scroll-behavior: smooth;
}

.bg-landscape {
	background: url("./landscape.jpg");
	background-position: center;
	background-size: cover;
	height: 100vh;
	color: white;
}

.semi-footer {
	background: url("./footer.jpg");
	background-position: top;
	background-size: cover;
	color: white;
}

.semi-footer .server-icon {
	border-radius: 50%;
}

.bg-glassthing {
	padding: 0.5em;
	border-radius: 15px;
	background: rgba(0, 0, 0, 0.165);
	box-shadow: inset 2px 2px 3px black, 2px 2px 3px rgba(0,0,0,0.57);
}

.btn-invite {
	background: transparent;
	border: solid 1px white;
	border-radius: 15px;
	padding: 10px 24px;
	color: white;
	text-decoration: none;
	transition: 0.4s;
}

.btn-invite:hover {
	border: solid 1px transparent;
	background: white;
	transition: 0.4s;
	color: black;
}

.btn-invite:active {
	transition: 0.4s;
	box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.65);
	border: solid 0.5px transparent;
}

#overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background: linear-gradient(35deg, rgb(0,0,0), rgb(7, 18, 70), rgb(103, 94, 129));
	z-index: 999;
    transition: 0.5s;
}

.loader {
	width: 80px;
	height: 80px;

	border: 2px solid transparent;
	border-top: 3px solid rgb(103, 94, 129);
	border-radius: 100%;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;

	animation: spin 1s infinite linear;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.command-menu {
	text-decoration: none;
}

.card-link {
	text-decoration: none;
    color: white;
}

.card-link:hover {
	color: white;
}

.custom-card-container .custom-card {
    padding: 12px;
    text-align: center;
    height: 275px;
    width: 250px;
	background: #01000C;
	transition: 0.65s;
	text-decoration: none;
    color: white;
}

.custom-card-container .custom-card i {
    position: relative;
    top: 50%;
	transform: translateY(-50%);
	transition: 0.4s;
}

.custom-card-container .custom-card .card-body {
    position: relative;
    top: 15%;
	opacity: 0;
	transition: 0.3s;
}

.custom-card-container .custom-card:hover {
    background: #1B1650;
	box-shadow: inset -4px -4px 5px rgba(0,0,0, 0.65), inset 6px 6px 5px rgba(22, 11, 150, 0.7);
	transition: 0.4s;
}

.custom-card-container .custom-card:hover .card-body {
	opacity: 1;
	top: 20%;
	transition: 0.45s;
}

.custom-card-container .custom-card:hover i {
	top: 15%;
	transform: none;
	transition: 0.3s;
	text-shadow: 4px 4px 6px rgb(0,0,0);
}

footer {
	background: black;
	color: white;
	padding: 1vh;
}

#sidebar .nav-link {
	color: #949494;
	transition: 0.45s;
}

#sidebar .nav-link:hover,
#sidebar .active {
	color: #ffffff;
	transition: 0.3s;
}

.code {
	font-size: 12px;
	font-family: 'Courier New', Courier, monospace;
	padding: 4px 8px;
	border-radius: 4px;
	color: black;
	background: rgba(255,255,255,0.65);
}