@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@600&family=Poppins:wght@500&display=swap");

* {
  color: #fff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Epilogue", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #1a202c;
}

.page-container {
  padding: 2vw;
  margin: 2vw;
}

@media screen and (max-width: 600px) {
  .page-container {
    padding: 2px;
    margin: 2px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.grid {
  margin: 50px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  grid-gap: 10px;
}
